html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: 
		'Arial',
		YuGothic,
		'Yu Gothic',
		'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3',
		'メイリオ', Meiryo,
		'ＭＳ ゴシック',
		sans-serif;
}

#master {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
}

table {
	position: relative;
	width: 90%;
	height: 50%;
	margin: 3% 5%;
	padding: 0px;
/*	top: 0px;
	left: 5%; */
	border: #FFFFFF;
	font-size: 100%;
	border-style: solid;
	border-collapse: collapse;
	background-color: #000000; 

}

table th {
	border-style: solid;
}

table td {
	background-color: #000000;
	border-style: solid; 
}

/* Define of Column Class */

.cNo {
}

.cBrewery {
}

.cBeername {
}

.cLocality {
}

.cStyle {
}

.cABV {
}

/* Define of Row Class */

.No1 {
}

.No2 {
}

.No3 {
}

.No4 {
}

.No5 {
}

.No6 {
}

.No7 {
}
