html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: 
		'Arial',
		YuGothic,
		'Yu Gothic',
		'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3',
		'メイリオ', Meiryo,
		'ＭＳ ゴシック',
		sans-serif;
}

#master {
	position: absolute;
	text-align: center;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
}

table {
	position: relative;
	width: 90%;
	height: 50%;
	margin: 3% 5%;
	padding: 0px;
/*	top: 15%; 効かないので無効化 */
/*	left: 5%; margin で調整するので無効化 */
	color: #FFFFFF;
	border: #FFFFFF;
	background-color: #000000; 
	border-collapse: collapse;

}

table th {
	border: solid 1px #FFFFFF;
}

table td {
	color: #FFFFFF;
	background-color: #000000;
	border: solid 1px #FFFFFF;
}

input {
	position: relative;
}

/* Table Define */

.fValue {
	width: 100px;
	margin: 5px;
	padding: 0px;
}
